/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.content{
  margin-left: 10px;
  margin-top: 10px;
  font-family: calibri;
  font-size: 20px;
}
